
/* Chat Container */
/* ==============*/
 *{
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {

}

.container {
  background-image: url('images/mario\ background\ image.jpeg');
}

.Welcome {
  padding: 0;
  margin: 0;
  /* width: 100px; */
  height: 100vh;
  width: 100%;
  font-size: 20px;
  text-align: center;
  display:flex;
  /* justify-content: center ; */
  flex-direction: column;
  align-items: center;
  color: white;
  
}
/* ------------------------------------------------------------------------------------- */

/* Register */
/* ==============*/
/* .register {

}

.name{
  
}

.email{
 
}

.submit{
  
} */

/* ------------------------------------------------------------------------------------- */

/* Login */
/* ==============*/

.login {

}

.loginUser {

}

input {

}

form {

}



/* ------------------------------------------------------------------------------------- */

/* Navigation */
/* ==============*/

header{
  top: 0;
  padding: 20px;
 
}
nav{
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
  
}
.navLinks{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 20%;
  font-style: bold;
}
nav ul li {
  list-style: none;
  
}
nav ul li a{
  color: black;
  text-decoration: none;
}

nav div li{
  list-style: none;
}
nav div li a{
  color: black;
  text-decoration: none;
}

nav {

}

ul {

}

li {
 
}



/* ------------------------------------------------------------------------------------- */

/* CHATS*/


/* Chat */
/* ==============*/

 .chat {

}

.chat h2 {

}

.chat button {

}

 

/* Chat List */
/* ==============*/

/* .chatList {

}

.mappedChats {

} */

/* Chat Form */
/* ==============*/

/* .chatForm {

}

form {

}

#chatName {

}

.create {

} */

/* ------------------------------------------------------------------------------------- */

/* MESSAGES */

/* Message */
/* ==============*/

/* .message {

}

.sender {

} */

/* Message List */
/* ==============*/
/* .messageList {

}

.mappedMessages {

} */

/* Message Form */
/* ==============*/
/* .messageForm {

}

#userMessage {

}

.send {

} */


/* ------------------------------------------------------------------------------------- */

/* USERS */

/* User */
/* ==============*/

/* .user {

} */

/* User List */
/* ==============*/

 /* .userList {

}

.mappedUsers {

} */

/* ------------------------------------------------------------------------------------- */
