
/* Chat Container */
/* ==============*/

 @import url('https://fonts.cdnfonts.com/css/new-super-mario-font-u');

                
 *{
  padding: 0;
  margin: 0;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

body {
  background-image: url('images/mario\ background\ image.jpeg');
  background-repeat: no-repeat;
}

.container {
  
}

.Welcome {
  padding: 0;
  margin: 0;
  /* width: 100px; */
  height: 100vh;
  width: 100%;
  font-size: 30px;
  text-align: center;
  display:flex;
  /* justify-content: center ; */
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'New Super Mario Font U', sans-serif;
                                                
  
}

button {
  border-radius: 10px;
}
/* ------------------------------------------------------------------------------------- */

/* Register */
/* ==============*/
/* .register {

}

.name{
  
}

.email{
 
}

.submit{
  
} */

/* ------------------------------------------------------------------------------------- */

/* Login */
/* ==============*/

.login {
  
}

/* .loginUser {
  padding-bottom: 20px;
} */

input {
/* border-radius: 10px;
height: 25px;
width: 200px;
flex-direction: column; */
margin: 5px;
}

form {
  padding-bottom: 20px;
}

.stars{
  position: absolute;
  /* top: 90%; */
  left: 10%; 
  width: 100%;
  height: 100%;
  z-index: -1;
}

span{
position: absolute;
top: 50%;
left: 50%;
width: 4px;
height: 4px;
background: #fff;
border-radius:50%;
box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1),0 0 20px rgba(255, 255, 255, 1);
animation: animate 3s linear infinite;
z-index: -1;
}

span::before{
content: '';
position: absolute;
top: 50%;
width: 300px;
height: 1px;
background: linear-gradient(90deg, #fff, transparent);
transform: translateY(-50%);

}

@keyframes animate{
0%{
  transform: rotate(315deg) translateX(0);
  opacity: 1;
}
70%{
  opacity: 1;
}
100%{
  transform: rotate(315deg) translateX(-1000px);
  opacity: 0;
}
}

span:nth-child(1)
{
top: -80%;
right: 0;
left:initial;
animation-delay: 1s;
animation-duration: 3s;
} 
span:nth-child(2)
{
top: -30%;
right: 0%;
left:initial;
animation-delay: 1s;
animation-duration: 3s;
} 

span:nth-child(3)
{
top: -60%;
right: 0%;
left:initial;
animation-delay: 1s;
animation-duration: 3s;
}

span:nth-child(4)
{
top: -90%;
right: 0%;
left:initial;
animation-delay: 2s;
animation-duration: 3s;
}
.main-login{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  color: white;
}

.wrap{
  width: 480px ;
  background-image:  linear-gradient(rgb(67, 166, 232) , rgb(87, 177, 87));
  border: 2px solid lightblue ;
  backdrop-filter: blur;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 10px ;
  padding: 30px 40px;
}

.wrap h1{
  font-size: 36px;
  text-align: center;
}
.wrap .input-box{
  position: relative;
  width: 85%;
  height: 50%;
  margin: 30px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid white;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
  color: #fff;
}

.input-box i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14.5px;

}
.register a:hover{
  transform: scale(1.05);
  transition: 0.5s;
  color: red;
}


.wrap .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input{
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a{
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.wrap .btn{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #5C6C79;
  font-weight: 600;
}

.wrap .register-link{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover{
  text-decoration: underline;
}


/* ------------------------------------------------------------------------------------- */

/* Navigation */
/* ==============*/

header{
  top: 0;
  padding: 20px;
  font-family: 'New Super Mario Font U', sans-serif;
  color: white;
}

nav{
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
  
}
.navLinks{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 20%;
}

nav ul li {
  list-style: none;
  
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-family: 'New Super Mario Font U', sans-serif;
}

nav div li{
  list-style: none;
}
nav div li a{
  color: white;
  
  font-size: 20px;
  text-decoration: none;
  font-family: 'New Super Mario Font U', sans-serif;
}
nav div li a:hover{
  transform: scale(1.005);
  transition: 0.5s;
  color: red;
}
nav ul li a:hover{
  transform: scale(1.05);
  transition: 0.5s;
  color: red;
}

nav {

}

ul {

}

li {
 
}






/* ------------------------------------------------------------------------------------- */

/* CHATS*/


/* Chat */
/* ==============*/

 .chat {
background-color: #3e92cc;
width: 1000px;
border-radius: 10px;
padding: 15px;
margin: 15px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
border: solid red;
float:right;
}

.chat h2 {

}

.chat button {

}

 

/* Chat List */
/* ==============*/

 .chatList {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
}

.mappedChats {

}

/* Chat Form */
/* ==============*/

/* .chatForm {

}

form {

}

#chatName {

}

.create {

} */

/* ------------------------------------------------------------------------------------- */

/* MESSAGES */

/* Message */
/* ==============*/

/* .message {

}

.sender {

} */

/* Message List */
/* ==============*/
/* .messageList {

}

.mappedMessages {

} */

/* Message Form */
/* ==============*/
/* .messageForm {

}

#userMessage {

}

.send {

} */


/* ------------------------------------------------------------------------------------- */

/* USERS */

/* User */
/* ==============*/

/* .user {

} */

/* User List */
/* ==============*/

 /* .userList {

}

.mappedUsers {

} */

/* ------------------------------------------------------------------------------------- */
